$textcolor: #ffffff;
$mainBgColor: #ffcfcf;
$padding: 30px;
$fontSize: 0.75rem;

* {
  margin: 0;
  font-family: Arial;
  color: $textcolor;
}

.container {
  min-height: 100%;
  display: flex;

  .nav {
    width: 15%;
    min-width: 140px;
    color: $mainBgColor;
    padding-top: 55px;
    padding-right: $padding;
    text-align: center;

    h4 {
      -webkit-margin-before: 0;
      margin-left: 50px;
    }
    ul {
      list-style: none;
      li {

      }
    }
  }

  .main {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $mainBgColor;

    h1 {
      font-size: 62px;
      -webkit-margin-before: 0;
      padding-top: 40px;
      padding-left: $padding;
    }
    img {
      padding-left: $padding;
      height: 350px;
      width: 550px;
    }
    p {
      font-size: $fontSize;
      padding-left: $padding;
      width: 55%;
      min-width: 550px;
    }
    a{
      font-size: $fontSize ;
      color: inherit;
      padding-left: $padding;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  
  video {
    padding-left: $padding;
  }
  
  ul {
    padding-left: $padding;

    li{
      font-size: 0.85rem;
    }
  }
  }

}
